#th1{
    font-size: x-large;
    font-family: 'Rubik Dirt', cursive;
}
#th2{
    font-size: x-large;
    font-family: 'Rubik Dirt', cursive;
}
#th3{
    font-size: x-large;
    font-family: 'Rubik Dirt', cursive;
}
#up003{
    font-size: larger;
    font-family: 'Permanent Marker', cursive;
}
#day003{
    font-size: larger;
    font-family: 'Permanent Marker', cursive;
}
#nou003{
    font-size: large;
    font-family: 'Patrick Hand', cursive;
}
#u00000{
    font-size: xx-large;
}
#u00001{
    font-size: xx-large;
}